body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    font-size: 54px;
    color: #333;
}

.dashboard_buttons {
    font-size: 32px; /* Увеличиваем размер шрифта */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dashboard_buttons:hover{
    background: #ddd;
}

#usersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#ratingsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.user-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-card img {
    border-radius: 50%;
}


.user-card #name {
    font-weight: bold;
    font-size: 24px;
}

.user-card p {
    font-size: 22px;
}

.user-card button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 17px;

}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между карточками */
    justify-content: center; /* Центрирует карточки по горизонтали */
    padding: 20px;
}

#deleteCatalog{
    padding: 10px 20px;
    margin: 10px;
    font-size: 17px;
}

#editCatalog{
    padding: 10px 20px;
    margin: 10px;
    font-size: 17px;
}

.backbutton{
    padding: 10px 20px;
    margin: 10px;
    font-size: 17px;
}


.user-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-item img {
    border-radius: 50%;
}

.user-item button {
    font-size: 15px; /* Увеличиваем размер шрифта */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-item button:hover{
    background-color: #ddd;
}

#user-info {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#user-info img {
    border-radius: 50%;
}

#user-info span {
    font-weight: bold;
}

#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Темный фон */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6F4F28;
    color: white;
}

#pagination {
    margin-top: 15px;
    text-align: center;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}

.pagination-button.active {
    font-weight: bold;
    background-color: #ddd;
}

#buttons {
    margin-top: 15px;
    text-align: center;
}

/* Выравнивание всех элементов на странице пользователя */
.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#profile-container {
    display: flex; /* Используем flexbox для выравнивания */
    gap: 20px; /* Отступ между фотографией и данными */
    align-items: flex-start; /* Выровнять по верхнему краю */
    margin-top: 20px; /* Отступ сверху */
}

#profile-image {
    width: 500px; /* Задаем минимальную ширину */
    height: 500px; /* Задаем минимальную высоту */
    max-width: 100%; /* Ограничиваем максимальную ширину контейнера */
    max-height: 100%; /* Ограничиваем максимальную высоту контейнера */
    overflow: hidden; /* Скрываем лишнее, если изображение выходит за границы */
    border-radius: 10px; /* Скругляем углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень вокруг изображения */
    object-fit: cover; /* Обрезаем изображение, если оно не влезает в контейнер */
}

#profile-image img {
    width: 100%; /* Растягиваем изображение на всю ширину контейнера */
    height: 100%; /* Растягиваем изображение на всю высоту контейнера */
    object-fit: cover; /* Обрезаем изображение, если оно не влезает */
}

#profile-details {
    font-size: 25px; /* Увеличиваем размер шрифта */
    flex-grow: 1; /* Делаем так, чтобы данные заполняли оставшееся пространство */
    padding: 20px; /* Отступы вокруг данных */
    border: 1px solid #ddd; /* Граница вокруг данных */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень вокруг блока с данными */
}

#profile-details p {
    margin: 22px; /* Отступы между абзацами */
}

#filterForm {
    display: flex;
    flex-direction: column; /* Элементы формы идут вертикально */
    gap: 10px; /* Расстояние между строками */
    width: 100%; /* Ширина формы */
    max-width: 600px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрируем форму */
}

#filterForm .row {
    display: flex;
    justify-content: space-between; /* Разделение элементов по строкам */
    gap: 10px; /* Расстояние между элементами в строке */
}

#filterForm .center_row{
    justify-content: center; /* Центрируем элементы внутри строки */
    gap: 15px; /* Расстояние между элементами */
}


#filterForm label,
#filterForm input,
#filterForm select,
#filterForm button {
    padding: 8px; /* Внутренние отступы */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
}

#filterForm .input-group {
    flex: 1 1 70%; /* Для элементов min/max, height, weight и rating, чтобы они занимали по 48% ширины */
}

#filterForm button {
    font-size: 15px; /* Увеличиваем размер шрифта */
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Кнопка растягивается на всю ширину */
}

#filterForm button:hover {
    background-color: #ddd;
}

label[for="gender"] {
    width: 100%; /* Задаем ширину для группы радио-кнопок */
    margin-top: 10px;
}

label input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

#view_all{
    font-size: 15px; /* Увеличиваем размер шрифта */
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#view_all:hover{
    background-color: #ddd;
}


#savePreset{
    font-size: 15px; /* Увеличиваем размер шрифта */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#savePreset:hover{
    background-color: #ddd;
}

/* Центрирование всего модуля на странице */
#controls {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем элементы по вертикали */
    width: 60%; /* Устанавливаем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    padding: 20px; /* Внутренние отступы для удобства */
    border: 1px solid #ddd; /* Рамка для модуля (опционально) */
    border-radius: 8px; /* Скругление углов */
    background-color: #f9f9f9; /* Фон (опционально) */
    gap: 10px; /* Отступы между кнопками и select */
}

/* Блок кнопки Save и select */
#save-group {
    display: flex; /* Группируем select и кнопку Save */
    align-items: center; /* Центрируем их по вертикали */
    gap: 10px; /* Расстояние между кнопкой и select */
}